<h1>Your library</h1>

<%= link_to "New list", new_list_path %>

<p><%= pluralize @lists.size, "list" %></p>
<div>
  <% @lists.each do |list| %>
  <div data-controller="edit-list">
   <%= render "movie_info", list: list %>
    <%= simple_form_for list, data: { edit_list_target: "form", action: "submit->edit_list#update" }, html: { class: 'd-none' } do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.submit %>
    <% end %>
  </div>
  <% end %>
</div>
