

<div class="infos-top">
  <%= link_to movies_path do %>
  <i class="fa-solid fa-angles-left"></i>
  <% end %>
  <h1>Your library</h1>
  <div class="nav-item-dropdown">
    <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <%= link_to "Edit your profil", edit_user_registration_path, class: "dropdown-item" %>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
    </div>
  </div>
</div>

<%= link_to "New list", new_list_path, :class=>"button-full" %>

<hr>

<p class="text-center mt-2"><%= pluralize @lists.size, "List" %></p>
<div class="display-lists">
  <% @lists.each do |list| %>
    <% if list.name == "To recommand" || list.name == "To discover" %>
      <div class= "list-card">
        <%= link_to list_path(list), data: {edit_list_target: "infos"} do %>
          <h6><%= list.name%></h6>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<hr>
<div class="display-lists" data-controller="edit-list">
  <% @lists.each do |list| %>
    <% unless list.name == "To recommand" || list.name == "To discover"%>
      <%= render "movie_info", list: list %>
      <%= simple_form_for list, data: { edit_list_target: "form", action: "submit->edit_list#update" }, html: { class: 'd-none' } do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.submit %>
      <% end %>
    <% end %>
  <% end %>
</div>
