<a href="/movies"><i class="fa-solid fa-angles-left"></i></a>

  <%= image_tag @movie.photo_url, width: 350, class:"cover"  %>
  <%= image_tag @movie.photo_url, width: 350, class:"poster position-absolute top-50 start-50 translate-middle"  %>
  <div class="info">
    <h1> <%= @movie.title %> <small> (<%= @movie.year %>)</small> </h1>
    <p> <%= @movie.description %> </p>
  </div>

<div class="title">
  <h5>Add this movie to a list</h5>
  <%= simple_form_for [@list, @list_movie] do |f| %>
    <%= f.hidden_field :movie_id, value: params[:id] %>
    <%= f.association :list, collection: current_user.lists, prompt: "Please choose one of your lists", input_html: { required: true } %>
    <%= f.input :comment %>
    <%= f.submit %>
  <% end %>

  <div data-controller="insert-review">
    <h5>Add a review</h5>
    <%= render "movies/form_review", movie: @movie, movie_review: @movie_review  %>

    <div>
      <h5>Reviews</h5>
      <%= render "movies/stars_average", rating: @rating_av , data: {insert_review_target: "stars"}%>
      <%= render "movies/average_rating", rating_av: @rating_av, reviews: @reviews, data: {insert_review_target: "average"} %>
      <hr>
    </div>
    <div data-insert-review-target="reviews">
      <% @reviews.each do |review| %>
        <%# ++ sort first the review of your friends %>
        <% if !review.content.empty? %>
          <%= render "movies/review", review:review %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
