<a href="/movies">Back to movies</a>


<h1> <%= @movie.title %> - <%= @movie.year %> </h1>
<p> <%= @movie.description %> </p>
<%= image_tag @movie.photo_url, width: 350  %>


<div>
<h2>Add this movie to a list</h2>
<%= simple_form_for [@list, @list_movie] do |f| %>
  <%= f.hidden_field :movie_id, value: params[:id] %>
  <%= f.association :list, as: :select %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
</div>


<div data-controller="insert-review">
  <h2>Add a review</h2>
  <%= render "movies/form_review", movie: @movie, movie_review: @movie_review  %>

  <div>
    <h2>Reviews</h2>
    <%= render "movies/stars_average", rating: @rating_av , data: {insert_review_target: "stars"}%>
    <%= render "movies/average_rating", rating_av: @rating_av, reviews: @reviews, data: {insert_review_target: "average"} %>
    <hr>
  </div>
  <div data-insert-review-target="reviews">
    <% @reviews.each do |review| %>
      <%# ++ sort first the review of your friends %>
      <% if !review.content.empty? %>
        <%= render "movies/review", review:review %>
      <% end %>
    <% end %>
  </div>
</div>
