<div class="infos-top">

  <div class="nav-item-dropdown">
  <% if @user == current_user %>
    <%= cl_image_tag @user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <%= link_to "Edit your profil", edit_user_registration_path, class: "dropdown-item" %>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
    </div>
  <% else %>
    <%= cl_image_tag @user.photo.key %>
  <% end %>
  </div>

  <div class="info-text mx-4">

    <div class="library">
      <% if @user == current_user %>
        <h1>Your library</h1>
      <% else %>
        <h1><%= @user.username.capitalize %>'s library</h1>
      <% end %>
    </div>

    <div class="followers text-center">
      <div>
        <p><%= @user.followers.count %></p>
        <p><%= link_to "Follower".pluralize(@user.followers.size), followers_user_path %></p>
      </div>
      <div>
        <p><%= @user.following.count %></p>
        <p><%= link_to "Following", following_user_path %></p>
      </div>
      <div>
        <p><%= @user.lists.count %></p>
        <p class="px-2"><%= "List".pluralize(@lists.size) %></p>
      </div>
    </div>
  </div>
</div>

<div class="description">
  <p class="pt-2 ps-3"><%= @user.bio %></p>
</div>

<% if @user == current_user %>
  <%= link_to "New list", new_list_path, :class=>"button-full" %>
<% elsif current_user.is_following?(@user.id) %>
  <%= link_to "Unfollow", unfollow_user_path(@user.id), data: {turbo_method: :post}, :class=>"button-full"%>
<% else %>
  <%= link_to "Follow", follow_user_path(@user.id), data: {turbo_method: :post}, :class=>"button-full"%>
<% end %>


<%# Theese are the default list not allowed to modify or edit %>
<div class="display-lists">
  <% @lists.each do |list| %>
    <% if list.name == "To recommand" || list.name == "To discover" %>
      <div class= "list-card">
        <%= link_to list_path(list) do %>
          <h6 class="mb-0"><%= list.name%></h6>
            <% pins = (list.list_movies.size) + (list.list_books.size) + (list.list_podcasts.size) %>
            <p><%= pluralize(pins, "Pin") %></p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<hr>


<div class="display-lists">
  <% @lists.each do |list| %>
    <% unless list.name == "To recommand" || list.name == "To discover"%>
      <div data-controller="edit-list">
        <%= render "movie_info", list: list %>
        <%= simple_form_for list, html: { class: 'd-none', data: { edit_list_target: "form", action: "submit->edit_list#update" } } do |f| %>
          <%= f.input :name %>
          <%= f.input :photo, as: :file, require: true %>
          <%= f.submit %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
