
<div>
  <div class="d-flex justify-content-between">
    <% if current_user.is_following?(review.user_id) %>
        <p><strong><%= review.user.username %></strong> - <%= review.rating %> ⭐️</p>
      <% else %>
        <p><strong><%= review.user.username %></strong> - <%= review.rating %> <i class="fa-solid fa-star"></i></p>
      </div>
    <% end %>
  </div>
  <p><%= review.content %></p>
</div>
