<%= render "shared/categories_buttons" %>

<% if @culturales.empty? %>
  <h1 class="text-center my-4">Welcome to Ottter</h1>
<% else %>
  <h1 class="text-center my-4">Ottter</h1>
<% end %>

<% if @culturales.empty? %>
 <%= cl_image_tag src="http://res.cloudinary.com/dtdr8cuym/image/upload/iox09pmfhkxyvzl95jpa3diokg35", class:"photo-feed"  %>
  <div class="text-emply-feed pb-5">
        <h2 class="emplty-feed">Your feed is empty</h2>
        <%= link_to "Add your friends", search_path, class: "button-full add-friends"%>
      </div>
<% else %>

  <div class="massonery-grid">
    <% sum = 0 %>
    <% a = 1 %>
    <% b = 3 %>
    <% @culturales.each do |culturale| %>
      <% sum +=1  %>
      <div class="div<%= sum %>" style="grid-row: <%= a %> / <%= b %>; grid-column: <%= sum%2 == 0 ? "1/2" : "2/3"%>">
        <div class="row text-center">
          <% if culturale.is_a?(ListMovie) %>
            <%= link_to movie_path(culturale.movie) do %>
              <%= render "pages/card_feed", user: culturale.list.user, culturale: culturale.movie, categorie: "Movie", color: "rgba(255, 187, 43, 0.8)", border: "rgb(255, 187, 43)"%>
            <% end %>
          <% elsif culturale.is_a?(ListBook) %>
            <%= link_to book_path(culturale.book) do %>
              <%= render "pages/card_feed", user: culturale.list.user, culturale: culturale.book, categorie: "Book", color: "rgba(205, 76, 236, 0.8)", border: "rgb(205, 76, 236)"%>
            <% end %>
          <% elsif culturale.is_a?(ListPodcast) %>
            <%= link_to podcast_path(culturale.podcast) do %>
              <%= render "pages/card_feed", user: culturale.list.user, culturale: culturale.podcast, categorie: "Podcast", color: "rgba(95, 227, 88, 0.8)", border: "rgb(95, 227, 88)"%>
            <% end %>
          <% end %>
        </div>
      </div>
      <% a += 1 %>
      <% b += 1 %>
    <% end %>
  </div>
  <% end %>
