<div class="d-flex justify-content-between">
  <div class="mx-4"></div>
  <h1 class="text-center mb-5 mt-3">Otter</h1>
  <div class="nav-item-dropdown mb-5 mt-3">
    <small class="dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">More</small>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <%= link_to "Movies", movies_path, class: "dropdown-item" %>
      <%= link_to "Books", books_path, class: "dropdown-item" %>
    </div>
  </div>
</div>


  <div class="feed-cards">
    <% sum = 0 %>
    <% @culturales.each do |culturale| %>
      <% sum +=1  %>
      <% sum = 1 if sum > 20%>
      <div class="div<%= sum %>">
        <div class="row text-center">
          <% if culturale.is_a?(Movie) %>
            <%= link_to movie_path(culturale) do %>
              <%= render "pages/card", culturale: culturale, categorie: "Movie", color: "rgba(255, 187, 43, 0.8)"%>
            <% end %>
          <% elsif culturale.is_a?(Book) %>
            <%= link_to book_path(culturale) do %>
              <%= render "pages/card", culturale: culturale, categorie: "Book", color: "rgba(205, 76, 236, 0.8)"%>
            <% end %>
          <% elsif culturale.is_a?(Podcast) %>
            <%= link_to podcast_path(culturale) do %>
              <%= render "pages/card", culturale: culturale, categorie: "Podcast", color: "rgba(205, 76, 236, 0.8)"%>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
