
  <%= form_with method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a movie, a book, a podcast or a friend"
    %>
    <button type="submit"  class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
  <% end %>


  <div class="basic-grid pt-4">
    <% @results.each do |result| %>
      <% if result.is_a?(User) %>
        <div class="d-flex  search-users">
          <%= cl_image_tag result.photo.key, class:"avatar" %>
          <div class="d-flex justify-content-between align-items-center w-100">
            <strong><%= link_to result.username.capitalize, user_path(result.id), :class=>"pe-2"%></strong>
            <small class="pe-2"><%= pluralize ((result.lists.map(&:list_movies).flatten.size) + (result.lists.map(&:list_books).flatten.size) + (result.lists.map(&:list_podcasts).flatten.size)), "Pin" %></small>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="basic-grid pt-4">
    <% @results.each do |result| %>
      <div class="row text-center">
        <% if result.is_a?(Movie) %>
          <%= link_to movie_path(result.id) do %>
            <%= render "shared/card", culturale: result, categorie: "Movie", color: "rgba(255, 187, 43, 0.8)", border: "rgb(255, 187, 43)"%>
          <% end %>
        <% elsif result.is_a?(Book) %>
          <%= link_to book_path(result.id) do %>
            <%= render "shared/card", culturale: result, categorie: "Book", color: "rgba(205, 76, 236, 0.8)", border: "rgb(205, 76, 236)"%>
          <% end %>
        <% elsif result.is_a?(Podcast) %>
          <%= link_to podcast_path(result.id) do %>
            <%= render "shared/card", culturale: result, categorie: "Podcast", color: "rgba(95, 227, 88, 0.8)", border: "rgb(95, 227, 88)"%>
          <% end %>
        <% end %>
    </div>
    <% end %>
  </div>

<% if params[:query] %>
  <a class='btn button-outline mt-5 btn-sm' href='search_api'>Get more</a>

  <% end %>
