<% content_for :meta_title, "#{@book.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @book.description %>


<div class="pictures">
  <% if  ListBook.find_by(list: params[:format], book: @book) %>
    <%= link_to list_book_path(ListBook.find_by(list: params[:format], book: @book)),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{@book.title.capitalize} from #{List.find(params[:format]).name}?"} do %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
  <% end %>
  <%= image_tag @book.photo_url, width: 350, class:"cover" %>
  <%= image_tag @book.photo_url, width: 350, class:"poster position-absolute start-50 translate-middle-x" %>
  <div class= "d-flex justify-content-between">
    <p><i class="fa-solid fa-thumbtack"></i> <%= @book.list_books.size %></p>
    <%= link_to new_book_book_recommendation_path(@book) do %>
      <i class="fa-regular fa-paper-plane"></i>
    <% end %>
  </div>
</div>

<h1 class="show-title"> <%= @book.title %> <small> (<%= @book.year %>) </small> </h1>

<div data-controller="show-formlist">
  <button data-action="click->show-formlist#showform" data-show-formlist-target="btn", class="button-full mb-4 mt-4"><%= @book.lists.where(user_id: current_user).empty? ? "Add to a list" : "Add to another list" %></button>

  <div data-show-formlist-target="divform", class="d-none">
    <h4>Add this book to a list</h4>
    <%= simple_form_for [@list, @list_book], html: { data: { show_formlist_target: "form", action: "submit->show-formlist#hideform"}} do |f| %>
      <%= f.hidden_field :book_id, value: params[:id] %>
      <%= f.association :list, collection: current_user.lists, prompt: "Please choose one of your lists", input_html: { required: true },  :class => "border border-primary" %>
      <%= f.input :comment %>
      <%= f.submit 'Add', :class => "button-full" %>
    <% end %>
  </div>

  <% unless @book.lists.where(user_id: current_user).empty? %>
    <div class="d-flex flex-column align-items-center">
      <small>You already saved this book in :</small>
      <small class="d-block"><%= @book.lists.where(user_id: current_user).map(&:name).join(', ')%></small>
    </div>
  <% end %>
</div>

<div class="info">
  <p> <%= @book.description %> </p>
  <% if ListBook.find_by(list: params[:format], book: @book) && ListBook.find_by(list: params[:format], book: @book).comment != ""%>
    <div class="d-flex align-items-center comment">
      <i class="fa-solid fa-quote-left"></i>
      <p><%= ListBook.find_by(list: params[:format], book: @book).comment %></p>
    </div>
  <% end %>
</div>

<div class ="reviews">
  <% unless BookReview.find_by(book: @book, user: current_user) %>
    <h4 class="mt-4 text-center">Add a review</h4>
    <% if @reviews.size == 0 %>
      <small class="d-block text-center small-text">Be the first one to review this book !</small>
    <% end %>
    <%= render "books/form_review", book: @book, book_review: @book_review %>
    <hr>
  <% end %>

  <% if @reviews.size > 0 %>
    <h4 class="text-center">Reviews</h4>
    <%= render "shared/stars_average", rating: @rating_av%>
    <%= render "shared/average_rating", rating_av: @rating_av, reviews: @reviews%>
    <% if @myreview %>
      <h5>Your review</h5>
      <p><%= render "shared/stars_average", rating:  @myreview.rating %></p>
      <p><%= @myreview.content %></p>
      <p class="text-end"><%= link_to "Delete my review",
      book_review_path(@myreview),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></p>
      <hr>
    <% end %>

    <h5>What other people think about</h5>
    <div>
      <% @reviews.each do |review| %>
        <% if !review.content.empty? %>
          <%= render "shared/review", review: review %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
