<div class="pictures">
  <%= image_tag @book.photo_url, width: 350, class:"cover" %>
  <%= image_tag @book.photo_url, width: 350, class:"poster position-absolute start-50 translate-middle-x" %>
</div>
<div class="info">
  <h1> <%= @book.title %> <small> (<%= @book.year %>) </small> </h1>
  <p> <%= @book.description %> </p>
  <% if ListBook.find_by(list: params[:format], book: @book) %>
    <h5>Your comment</h5>
    <p> <%= ListBook.find_by(list: params[:format], book: @book).comment %> </p>
    <p class="text-end"> <%= link_to "Delete book from list",
    list_book_path(ListBook.find_by(list: params[:format], book: @book)),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %> </p>
  <% end %>
</div>

<div class="title">
  <hr>
  <h4>Add this book to a list</h4>
  <%= simple_form_for [@list, @list_book] do |f| %>
    <%= f.hidden_field :book_id, value: params[:id] %>
    <%= f.association :list, collection: current_user.lists, prompt: "Please choose one of your lists", input_html: {required: true}, :class => "border border-primary" %>
    <%= f.input :comment %>
    <%= f.submit 'Add', :class => "button-full" %>
  <% end %>
  <hr>
  </div>
</div>
