<%= link_to book_path(@book) do %>
  <i class="fa-solid fa-angles-left"></i>
<% end %>

<h1 class="text-center">Recommend <%= @book.title %> to your friends</h1>

<%= simple_form_for [@book, @bookreco]  do |f| %>
  <%= f.association :receiver, collection: current_user.following.map(&:username), prompt: "Please choose one of your friends", :class => "border border-primary", label: "Friend"  %>
  <%= f.input :message %>
  <%= f.submit "send", class: "button-full" %>
<% end %>
