<div class="massonery-grid">
<h1 class="text-center mb-5 mt-3">Podcasts</h1>
  <% sum = 0 %>
  <% a = 1 %>
  <% b = 3 %>
  <% @podcasts.each do |podcast| %>
    <% sum += 1 %>
    <div class="div<%= sum %>" style="grid-row: <%= a %> / <%= b %>; grid-column: <%= sum%2 == 0 ? "1/2" : "2/3"%>">
      <div class="row text-center">
        <%= link_to podcast_path(podcast) do %>
          <%= render "shared/card", culturale: podcast, categorie: "Podcast", color: "rgba(95, 227, 88, 0.8)", border: "rgb(95, 227, 88)"%>
        <% end %>
      </div>
    </div>
    <% a += 1 %>
    <% b += 1 %>
  <% end %>
</div>
