<% content_for :meta_title, "#{@podcast.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @podcast.description %>

<div class="pictures">
  <% if  ListPodcast.find_by(list: params[:format], podcast: @podcast) %>
    <%= link_to list_podcast_path(ListPodcast.find_by(list: params[:format], podcast: @podcast)),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{@podcast.title.capitalize} from #{List.find(params[:format]).name}?"} do %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
  <% end %>
  <%= image_tag @podcast.photo_url, width: 350, class:"cover" %>
  <%= image_tag @podcast.photo_url, width: 350, class:"poster position-absolute start-50 translate-middle-x" %>
  <div class= "d-flex justify-content-between">
    <p><i class="fa-solid fa-thumbtack"></i> <%= @book.list_books.size %></p>
    <%= link_to new_podcast_podcast_recommendation_path(@podcast) do %>
      <i class="fa-regular fa-paper-plane"></i>
    <% end %>
  </div>
</div>

<h1 class="show-title"> <%= @podcast.title %> <small> ( <%= @podcast.publisher %> ) </small> </h1>

<div class="my-3" data-controller="show-formlist">

  <button data-action="click->show-formlist#showform" data-show-formlist-target="btn", class="button-full mb-4 mt-4"><%= @podcast.lists.where(user_id: current_user).empty? ? "Add to a list" : "Add to another list" %></button>

  <div data-show-formlist-target="divform", class="d-none">
    <h4>Add this podcast to a list</h4>
    <%= simple_form_for [@list, @list_podcast], html: { data: { show_formlist_target: "form", action: "submit->show-formlist#hideform"}} do |f| %>
      <%= f.hidden_field :podcast_id, value: params[:id] %>
      <%= f.association :list, collection: current_user.lists, prompt: "Please choose one of your lists", input_html: { required: true },  :class => "border border-primary" %>
      <%= f.input :comment %>
      <%= f.submit 'Add', :class => "button-full" %>
    <% end %>
  </div>

  <% unless @podcast.lists.where(user_id: current_user).empty? %>
    <div class="d-flex flex-column align-items-center">
      <small>You already saved this podcast in :</small>
      <small class="d-block"><%= @podcast.lists.where(user_id: current_user).map(&:name).join(', ')%></small>
    </div>
  <% end %>
</div>

<div class="info">
  <p> <%= @podcast.description %> </p>
  <% if ListPodcast.find_by(list: params[:format], podcast: @podcast) && ListPodcast.find_by(list: params[:format], podcast: @podcast).comment != ""  %>
    <div class="d-flex align-items-center comment">
      <i class="fa-solid fa-quote-left"></i>
      <p><%= ListPodcast.find_by(list: params[:format], podcast: @podcast).comment %></p>
    </div>
  <% end  %>
</div>


<div class="reviews">
  <% unless PodcastReview.find_by(podcast: @podcast, user: current_user) %>
    <h4 class="mt-4 text-center">Add a review</h4>
    <% if @reviews.size == 0 %>
      <small class="d-block text-center small-text">Be the first one to review this podcast !</small>
    <% end %>
    <%= render "podcasts/form_review", podcast: @podcast, podcast_review: @podcast_review %>
  <% end %>

  <div>
    <h4>Reviews</h4>
    <% if @reviews.size >= 1 %>
      <%= render "shared/stars_average", rating: @rating_av %>
      <%= render "shared/average_rating", rating_av: @rating_av, reviews: @reviews%>
    <% else %>
      <%= "Be the first one to review this podcast !" %>
    <% end %>
    <hr>
  </div>

  <% if @myreview %>
  <div class="d-flex justify-content-between">
    <p><strong>Your review - <%= @myreview.rating %></strong><i class="fa-solid fa-star"></i> <small class="text-muted"> <%= (@myreview.created_at.strftime("%d %b %Y")) %></small></p>
    <p class="text-end"> <%= link_to "",
      podcast_review_path(@myreview),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"fa-solid fa-trash-can text-end" %> </p>
    </div>
    <p><%= @myreview.content %></p>
    <hr>
  <% end %>

  <h5>What other people think about it</h5>

    <% @reviews.each do |review| %>

      <% if current_user.is_following?(review.user_id) %>
        <% @friends_reviews << review %>
      <% else %>
        <% @others_reviews << review %>
      <% end %>

    <% end %>

    <% @friends_reviews.each do |review| %>
      <% if !review.content.empty? %>
        <%= render "shared/review", review: review %>
      <% end %>
    <% end %>

    <% @others_reviews.each do |review| %>
      <% if review.user_id != current_user.id %>
        <% if !review.content.empty? %>
          <%= render "shared/review", review: review %>
        <% end %>
      <% end %>
    <% end %>

  <% end %>

</div>
