<!DOCTYPE html>
<html>
  <head>
    <%# <title><%= meta_title %></title>
    <%# <meta name="description" content="<%= meta_description %>"> %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/5537/5537006.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <div class="container">
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render "shared/navbar" %>
  </div>
  </body>
</html>
